{% extends 'app/base.html' %}
{% block title %}Search Page
{% endblock title %}
{% load static %}
{% block search %} 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Detail</h3>
            {% comment %} <h6 class="card-subtitle">globe type chair for rest</h6> {% endcomment %}
            {% for book in books %}
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="{{book.image.url}}" class="img-responsive"></div>
                </div>
               
                
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 styles = "text-transform: uppercase" class="box-title mt-5">{{book.name}}</h4>
                    <h5 class="box-title mt-5">{{book.author}}</h4>
                    <p>{{book.detail}}</p>
                    <h2 class="mt-5">
                        {{book.price}}đ
                    </h2>
                    <small class="text-success"> 20 %off</small><br>
                    {% for sale in sale_items %}
                    <small class="text-success"> {{sale.discount_price}} %off</small><br>
                    {% endfor %}
                    <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="" data-original-title="Add to cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                    <button data-book = {{book.id}} data-action ="add" id="addItem" class="buy-now" href="/order">Buy Now</button>
                    {% comment %} <h3 class="box-title mt-5">Key Highlights</h3> {% endcomment %}
                    {% comment %} <ul class="list-unstyled">
                        <li><i class="fa fa-check text-success"></i>Sturdy structure</li>
                        <li><i class="fa fa-check text-success"></i>Designed to foster easy portability</li>
                        <li><i class="fa fa-check text-success"></i>Perfect furniture to flaunt your wonderful collectibles</li>
                    </ul> {% endcomment %}
                </div>
                
                {% comment %} <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">General Info</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-product">
                            <tbody>
                                <tr>
                                    <td width="390">Brand</td>
                                    <td>Stellar</td>
                                </tr>
                                <tr>
                                    <td>Delivery Condition</td>
                                    <td>Knock Down</td>
                                </tr>
                                <tr>
                                    <td>Seat Lock Included</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td>Office Chair</td>
                                </tr>
                                <tr>
                                    <td>Style</td>
                                    <td>Contemporary&amp;Modern</td>
                                </tr>
                                <tr>
                                    <td>Wheels Included</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Upholstery Included</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Upholstery Type</td>
                                    <td>Cushion</td>
                                </tr>
                                <tr>
                                    <td>Head Support</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>Suitable For</td>
                                    <td>Study&amp;Home Office</td>
                                </tr>
                                <tr>
                                    <td>Adjustable Height</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Model Number</td>
                                    <td>F01020701-00HT744A06</td>
                                </tr>
                                <tr>
                                    <td>Armrest Included</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Care Instructions</td>
                                    <td>Handle With Care,Keep In Dry Place,Do Not Apply Any Chemical For Cleaning.</td>
                                </tr>
                                <tr>
                                    <td>Finish Type</td>
                                    <td>Matte</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> {% endcomment %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock search %} 